## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,62.01,84,100,3.00,overcast clouds
1,1,Hilo,US,19.7297,-155.0900,68.00,83,90,5.75,light rain
2,2,Kushima,JP,31.4583,131.2333,71.60,68,75,21.85,broken clouds
3,3,Grand Baie,MU,-20.0182,57.5802,81.00,81,57,5.01,light rain
4,4,Broome,US,42.2506,-75.8330,54.00,87,90,19.57,light rain

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min = float(input("What is the minimum temperature desired for your trip?"))
max = float(input("What is the maximum temperature desired for your trip?"))

What is the minimum temperature desired for your trip?75
What is the maximum temperature desired for your trip?90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_temps_df = city_data_df.loc[(city_data_df["Max Temp"] <= max) & (city_data_df["Max Temp"] >= min)]
preferred_temps_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Grand Baie,MU,-20.0182,57.5802,81.00,81,57,5.01,light rain
5,5,Butaritari,KI,3.0707,172.7902,81.09,78,82,7.54,light rain
7,7,Pangkalanbuun,ID,-2.6833,111.6167,89.92,54,94,2.82,light rain
18,18,Georgetown,MY,5.4112,100.3354,89.60,62,40,6.91,scattered clouds
23,23,Vaini,TO,-21.2000,-175.2000,78.80,78,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Tayu,ID,-6.5397,111.0518,87.08,65,93,2.55,overcast clouds
687,687,Dhidhdhoo,MV,6.8833,73.1000,83.21,68,69,2.42,broken clouds
702,702,Isangel,VU,-19.5500,169.2667,84.20,74,75,5.75,broken clouds
703,703,Manggar,ID,-2.8833,108.2667,88.29,57,74,4.00,broken clouds
710,710,Boa Vista,BR,2.8197,-60.6733,77.00,88,75,2.30,light rain

In [29]:
# 4a. Determine if there are any empty rows.
preferred_temps_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_temps_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Grand Baie,MU,-20.0182,57.5802,81.00,81,57,5.01,light rain
5,5,Butaritari,KI,3.0707,172.7902,81.09,78,82,7.54,light rain
7,7,Pangkalanbuun,ID,-2.6833,111.6167,89.92,54,94,2.82,light rain
18,18,Georgetown,MY,5.4112,100.3354,89.60,62,40,6.91,scattered clouds
23,23,Vaini,TO,-21.2000,-175.2000,78.80,78,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Tayu,ID,-6.5397,111.0518,87.08,65,93,2.55,overcast clouds
687,687,Dhidhdhoo,MV,6.8833,73.1000,83.21,68,69,2.42,broken clouds
702,702,Isangel,VU,-19.5500,169.2667,84.20,74,75,5.75,broken clouds
703,703,Manggar,ID,-2.8833,108.2667,88.29,57,74,4.00,broken clouds
710,710,Boa Vista,BR,2.8197,-60.6733,77.00,88,75,2.30,light rain

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Grand Baie,MU,81.00,light rain,-20.0182,57.5802,
5,Butaritari,KI,81.09,light rain,3.0707,172.7902,
7,Pangkalanbuun,ID,89.92,light rain,-2.6833,111.6167,
18,Georgetown,MY,89.60,scattered clouds,5.4112,100.3354,
23,Vaini,TO,78.80,broken clouds,-21.2000,-175.2000,
27,Yulara,AU,78.80,scattered clouds,-25.2406,130.9889,
29,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,
38,Dingle,PH,90.00,overcast clouds,10.9995,122.6711,
41,Cayenne,GF,80.01,few clouds,4.9333,-52.3333,
43,Morant Bay,JM,80.60,few clouds,17.8815,-76.4093,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [43]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))